@font-face {
    font-family: 'Pressstart';
    src: url('PressStart2P-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("Beach.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("city.gif");
    transition: opacity 1s ease;
    z-index: 1; /* Adjusted z-index */
}
#Backerground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("Beach.gif");

    z-index: 0; /* Adjusted z-index */
}

.header {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: 2%;
    z-index: 2; /* Ensure header is above the background */
    display: flex;
    flex-wrap: wrap;
}

.info {
    width: 75%;
    height: 300px;
    background-color: black;
    position: absolute;
    left: 20px;
    top: 35%;
    padding-top: 5%;
    z-index: 2; /* Ensure info section is above the background */
}
#vrijeme_lable{
    position: absolute;
    z-index: 2;
    flex-basis: 200;
    
}
#vrijeme{
    position: relative;
    z-index: 2;
    left: 100px;
    flex-basis: 200;
}
h1, h2 {
    font-family: "Pressstart";
    color: white;
    margin: 0;
    padding: 10px;
    flex-basis: 200;
}
#age{
    position: relative;
    margin-left: 45%;
    flex-basis: 200;
}
#countdown{
    position: relative;
    flex-basis: 200;
    left:5px
}
#ime {
    position: relative;
    margin-left: 45%;
}
#Education{
    position: relative;
    margin-left: 45%;
}

.youtube {
    width: 100px;
    height: auto;
    position:relative;
    flex-basis: 200;
    flex-grow: 1;
}

.github {
    width: 90px;
    height: auto;
    position: relative;
    flex-grow:1 ;
    flex-basis: 200;
}
.Birthday{
    background-color: black;
    height: 200px;
    width: 70%;
    z-index: 2;
    position: absolute;
    top: 90%;
    right: 50px;
}

@media (max-width: 50vw) {
    .youtube {
        display: none;
    }
}

@media (max-width: 40vw) {
    .github {
        display: none;
    }
}
